<%= content_for(:head) do %>
  <!--[if lt IE 9]><%= javascript_include_tag "ballot_box/excanvas.min" %><![endif]-->
  <%= javascript_include_tag "ballot_box/jquery.jqplot.min", "ballot_box/plugins/jqplot.json2.min" %>
  <%= javascript_include_tag "ballot_box/plugins/jqplot.cursor.min", "ballot_box/plugins/jqplot.pieRenderer.min" %>
  <%= javascript_include_tag "ballot_box/plugins/jqplot.highlighter.min", "ballot_box/plugins/jqplot.dateAxisRenderer.min" %>
  <%= stylesheet_link_tag "/javascripts/ballot_box/jquery.jqplot.css" %>  
<% end %>

<div class="edit-bl">
  <div class="bot-bg">
    <div id="voteable_title" class="block-title"><%= @voteable.title %></div>
    
    <div class="edit-cont">
      <%= link_to t('manage.sunrise.votes.view'), manage_ballot_box_votes_path( voteable_scope(@voteable) ) %>
      
      <div id="chart_dates" style="height:400px;width:800px;"></div>
    </div>
      
    <div class="edit-cont">
      <div id="chart_browsers" style="height:400px;width:800px;"></div>
    </div>
    
    <div class="edit-cont">
      <div id="chart_platforms" style="height:400px;width:800px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var ajaxDataRenderer = function(url, plot, options) {
      var ret = null;
      $.ajax({
        // have to use synchronous here, else the function
        // will return before the data is fetched
        async: false,
        url: url,
        dataType:"json",
        success: function(data) {
          ret = data;
        }
      });
      return ret;
    };
    
    // The url for our json data
    var dates_url = window.location.href.replace('/charts', '/dates');
    
    var dates_plot = $.jqplot('chart_dates', dates_url, {
      title: $('#voteable_title').text() + " dates",
      dataRenderer: ajaxDataRenderer,
      dataRendererOptions: {
        unusedOptionalUrl: dates_url
      },
      
      axes:{
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer,
          tickOptions:{
            formatString:'%b&nbsp;%#d'
          }
        }
      },
      highlighter: {
        show: true,
        sizeAdjust: 7.5
      },
      cursor: {
        show: false
      }
    });
    
    var browsers_url = window.location.href.replace('/charts', '/browsers');
    var browsers_plot = $.jqplot('chart_browsers', browsers_url, {
      title: $('#voteable_title').text() + " browsers",
      dataRenderer: ajaxDataRenderer,
      dataRendererOptions: {
        unusedOptionalUrl: browsers_url
      },
      
      seriesDefaults: {
        // Make this a pie chart.
        renderer: $.jqplot.PieRenderer,
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      },
      
      legend: { show:true, location: 'e' }
    });
    
    var platforms_url = window.location.href.replace('/charts', '/platforms');
    var platforms_plot = $.jqplot('chart_platforms', platforms_url, {
      title: $('#voteable_title').text() + " platforms",
      dataRenderer: ajaxDataRenderer,
      dataRendererOptions: {
        unusedOptionalUrl: platforms_url
      },
      
      seriesDefaults: {
        renderer: $.jqplot.PieRenderer,
        rendererOptions: {
          showDataLabels: true
        }
      },
      
      legend: { show:true, location: 'e' }
    });
  });
</script>
